<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>ATL Search</title>
</head>
<body >
    <div class="container text-center" style="height: 100vh;">
        <div class="row justify-content-center" style="margin-top: 20vh">
            <legend class="p-4"><h1>ATL Search</h1></legend>
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm" action="/search" method="post">
                    <div class="card-body row gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                       
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" name="searchtxt" type="search" placeholder="Search topics or keywords">
                        </div>
                       
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                       
                    </div>
                </form>
            </div>
           
        </div>
    </div>
    
</body>
</html>